:root {
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --hover-and-logo-font-color: #2196F3;
    --main-width: 1170px; /* width of sections, header and footer */
    --secondary-width: 1600px; /* width of all document */
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-inline-start: 0px;
}

.nav-bar a:hover, .nav-contacts-a:hover, .footer-adress a:hover {
    color: var(--hover-and-logo-font-color);
}

.nav-bar a:focus, .nav-contacts-a:focus, .footer-adress a:focus {
    color: var(--hover-and-logo-font-color);
}

/* ///// HEADER ///// */

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

header div {
    display: flex;
    justify-content: center;
    width: 1170px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.17;
}

.logo-style {
    text-decoration: none;
}

.logo-style-studio {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #000;

}

.logo-style-web {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: var(--hover-and-logo-font-color);
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.nav-bar {
    width: 261px;
}

.nav-bar a {
    color: var(--main-font-color);
    text-decoration: none;
    font-size: 14px;
}

.nav-contacts {
    display: flex;
    justify-content: flex-end;
}

.nav-contacts ul {
    width: 283px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

.nav-contacts-a {
    color: var(--secondary-font-color);
}

/* ///// MAIN ///// */

main {
    width: var(--secondary-width);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1548px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: var(--main-width);
    height: 1360px;
}

main nav {
    width: 575px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-nav {
    cursor: pointer;
    color: var(--main-font-color);
    background-color: #F5F4FA;
    height: 38px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

.button-nav:hover {
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    background-color: var(--hover-and-logo-font-color);
    color: #FFF;
}

.button-nav:focus {
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
    background-color: var(--hover-and-logo-font-color);
    color: #FFF;
}

.button-nav-one {
    width: 73px;
}

.button-nav-two {
    width: 125px;
}

.button-nav-three {
    width: 112px;
}

.button-nav-four {
    width: 103px;
}

.button-nav-five {
    width: 130px;
}

.portfolio-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 1302px;
}

.portfolio-elements li {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-elements img {
    width: 370px;
    height: 294px;
}

.portfolio-elements-container {
    width: 370px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-elements-container div {
    height: 70px;
    width: 322px;
}

.portfolio-elements h2 {
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    margin: 0;
}

.portfolio-elements p {
    color: var(--secondary-font-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    margin: 0;
}

/* ///// FOOTER ///// */

footer {
    height: 252px;
    background-color: #2F303A;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 1170px;
}

.logo-style-studio-footer {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

footer ul {
    line-height: 1.71;
}

.footer-adress-map a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;

}

.footer-adress-contacts a {
    color: #FFFFFF99;
    ;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}