:root {
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --hover-and-logo-font-color: #2196F3;
    --main-width: 1170px; /* width of sections, header and footer */
    --secondary-width: 1600px; /* width of all document */
}

body {
    font-family: 'Roboto', sans-serif;
    width: var(--secondary-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-inline-start: 0px;
}

.nav-bar a:hover, .nav-contacts-a:hover, .footer-adress a:hover { /* hover for all links */
    color: var(--hover-and-logo-font-color);
}

.nav-bar a:focus, .nav-contacts-a:focus, .footer-adress a:focus {
    color: var(--hover-and-logo-font-color);
}


/* ///// HEADER ///// */

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-div  {
    display: flex;
    justify-content: space-between;
    width: var(--main-width);
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.17;
}

.logo-style {
    text-decoration: none;
}

.logo-style-studio {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #000;

}
.logo-style-web {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: var(--hover-and-logo-font-color);
}

.nav-bar-list {
    width: 286px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    margin: 0;
}

.nav-bar-list li {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-bar {
    width: 286px;
    height: 80px;
    margin: 0px 0px 0px 91px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.nav-bar-list-link {
    height: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav-bar-list-link p {
    margin: 0;
}

.nav-bar a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--main-font-color);
    text-decoration: none;
    font-size: 14px;
    height: 48px;
}

.nav-bar-list-link:hover .nav-bar-list-link-border {
    fill: #2196F3;
}

.nav-contacts {
    display: flex;
    justify-content: flex-end;
}

.nav-contacts ul {
    width: 333px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

.nav-contacts-a {
    color: var(--secondary-font-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-contacts-div-second {
    width: 142px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-contacts-div-first {
    width: 161px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-contacts-email {
    width: 135px;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 2%;
}

.nav-contacts-number {
    width: 122px;
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 2%;
}

.nav-contacts-a:hover .nav-contacts-envelope,
.nav-contacts-a:focus .nav-contacts-envelope,
.nav-contacts-a:hover .nav-contacts-phone,
.nav-contacts-a:focus .nav-contacts-phone {
    fill: var(--hover-and-logo-font-color);
}

.nav-contacts-envelope {
    width: 16px;
    height: 12px;
    fill: var(--secondary-font-color);
}

.nav-contacts-phone {
    width: 10px;
    height: 16px;
    fill: var(--secondary-font-color);
}

/* ///// MAIN ///// */

main {
    margin: 0px;
    padding: 0px;
    width: var(--secondary-width);
}

/* ///// ORDER INFO ///// */

.order-info {
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-image: url("../images/background.jpg");
/*     background: rgba(47, 48, 58, 0.4);
    background: rgba(196, 196, 196, 1); */
}

h1 {
    font-size: 44px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
}

.order-button {
    width: 216px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--hover-and-logo-font-color);
    color: #FFFFFF;
    border-radius: 4px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.order-button:hover {
    color: var(--main-font-color);
    background-color: #F5F4FA;
}

/* ///// ABOUT US AND ABOUT US WHAT DO */

.about-us-and-what-do {
    height: 776px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

/* ///// ABOUT US ///// */

.about-us {
    height: 248px;
    display: flex;
    align-items: center;
    flex-direction: column ;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.about-us h2 {
    font-size: 36px;
    margin: 0 0 1em 0;
}

.about-us-features {
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 248px;
    margin-block: 0;
}

.about-us-features li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 248px;
}

.about-us-features-img {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;

}

.about-us-features-img img {
    width: 70px;
    height: 70px;
}

.about-us-features h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

.about-us-features p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;
    text-align: justify;
    color: var(--secondary-font-color);
}

.about-us-features-text {
    height: 102px;
}

/* ////// ABOUT US WHAT DO ///// */

.about-us-what-do {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-what-do div {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
}

.about-us-what-do h2 {
    color: var(--main-font-color);
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.about-us-what-do-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.darker {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.5) 0), url(http://gdefon.org/_ph/8/1/478317672.jpg)
}

/* ///// OUR TEAM ///// */

.our-team {
    height: 648px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.17;
}

.our-team-div {
    height: 648px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--main-width);
}

.our-team h2 {
    color: var(--main-font-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.our-team-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: var(--main-width);
}

.our-team-main-member { /* member card */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    font-size: 16px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
}

.our-team-main-member-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    height: 168px;
}

.our-team-main-member-description-text {
    margin: 0px 0px 16px 0px;
}

.our-team-main-member h3 {
    height: 19px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: var(--main-font-color);
    margin: 0px 0px 10px 0px;
}
.our-team-main-member p {
    height: 19px;
    text-align: center;
    font-size: 16px;
    color: var(--secondary-font-color);
    font-weight: 400;
    margin: 0;
}

.member-social-icons { /* member social icons */
    width: 206px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.member-social-icons a {
    width: 44px;
    height: 44px;
}

.instagram:hover .circle-icon,
.instagram:focus .circle-icon,
.twitter:hover .circle-icon,
.twitter:focus .circle-icon,
.facebook:hover .circle-icon,
.facebook:focus .circle-icon,
.linkedin:hover .circle-icon,
.linkedin:focus .circle-icon {
    /* Hover for all circles in socisal icons */
    fill: #2196F3;
}

.instagram:hover .insta-icon,
.instagram:focus .insta-icon,
.twitter:hover .twitter-icon, 
.twitter:focus .twitter-icon, 
.facebook:hover .facebook-icon, 
.facebook:focus .facebook-icon, 
.linkedin:hover .linkedin-icon,
.linkedin:focus .linkedin-icon {
    /* Hover for all social icons */
    fill: #ffffff;
}

.insta-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon {
    fill: #AFB1B8;
}

/* ///// FOOTER ///// */

footer {
    height: 252px;
    background-color: #2F303A;
    width: var(--secondary-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: var(--main-width);
}

.logo-style-studio-footer {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

footer ul {
    line-height: 1.71;
}

.footer-adress-map a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    
}

.footer-adress-contacts a {
    color: #FFFFFF99;;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}