body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;
}

.all-margin {
    margin: 0px 215px 0px 215px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

/* ///// HEADER ///// */

header {
    height: 80px;
}

.nav { /* не розумію чому тут відступ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo-style {
    text-decoration: none;
    /* margin: 24px 0px 0px 215px; */
}

.logo-style-studio {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #000;

}
.logo-style-web {
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.nav-list-style {
    margin: 0px 20px 0px 20px;
}

.nav-bar-list-a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.nav-bar-list-a:hover {
    color: #2196F3;
}

.nav-contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
}

.nav-contacts-a {
    color: #757575;
}

.nav-contacts-a:hover {
    color:#2196F3;
}

/* ///// MAIN ///// */

main {
    margin: 0px;
    padding: 0px;
}

/* ///// ORDER INFO ///// */

.order-info {
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

h1 {
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}

button {
    background-color: #2196F3;
    color: #FFFFFF;
    padding: 20px 60px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.83);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* ///// ABOUT US ///// */

.about-us h2 {
    font-size: 36px;
    text-align: center;
}

.about-us-features {
    display: flex;
    justify-content: space-around;
}

.about-us-features-text h3 {
    text-transform: uppercase;
}

.about-us-features-text p {
    text-align: justify;
}

/* ////// ABOUT US WHAT DO ///// */

/* .about-us-what-do {

} */

.about-us-what-do-h2 {
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.about-us-what-do-list {
    display: flex;
    justify-content: space-around;
}

/* ///// OUR TEAM ///// */

.our-team h2 {
    text-align: center;
    font-size: 36px;
}

.our-team-main {
    display: flex;
    justify-content: space-between;
}

/* ///// FOOTER ///// */

footer {
    display: block;
}